@model Restopedia.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<style>
    .banner-home {
        height: auto;
        padding-top: 187px;
    }
</style>
<section class="banner-home"></section>
<!-- blog-single Section Start -->
<div id="blog-single">
    <div class="gradient"></div>

    <div class="container">
        @Html.ActionLink("Back to Restaurant List", "Index")
        <div class="heading" data-aos="fade-up" data-aos-delay="300">
            <h2 style="padding-bottom:11px;">Details of @Model.Name Restaurant</h2>
        </div>
        <div>

            @Html.ActionLink("Edit", "Edit", new { id = Model.RestaurantId }, new { @class = "btn btn-primary"}) 
            @*@Html.ActionLink("Delete", "Delete", new { id = Model.RestaurantId},
            new { onclick = "return confirm('Are sure wants to delete?');" }) |*@
            <a href="@Url.Action("Delete","Restaurants", new { id = Model.RestaurantId })" onclick="return confirm('Apakah Anda yakin ingin menghapus ini?');" class="btn btn-danger">Delete</a>   

        </div>
        <br />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.Raw(HttpUtility.HtmlDecode(Model.Description).ToString())
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                <br />
                <img src="~/Content/images/restaurants/@Html.DisplayFor(model =>model.Image)" style="height:200px;width:200px;" />
            </dd>

        </dl>
    </div>
</div>
<!-- Blog_single Section End -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
