@model IEnumerable<Restopedia.Models.RestaurantViewModel>

@{
    ViewBag.Title = "List Restaurant";
}

<style>
    .banner-home {
        height: auto;
        padding-top: 187px;
    }
</style>
<section class="banner-home"></section>
<!-- blog-single Section Start -->
<div id="blog-single">
    <div class="gradient"></div>

    <div class="container">
        <div class="heading" data-aos="fade-up" data-aos-delay="300">
            <h2 style="padding-bottom:11px;">Restaurants</h2>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <a href="@Url.Action("Single", "Restaurants", new { id = item.RestaurantId})">
                        @*<img class="img-fluid img-thumbnail" src="~/Content/images/blog-1.jpg" alt="blog-1">*@
                        <img src="~/Content/images/restaurants/@Html.DisplayFor(modelItem => item.Image)" class="img-fluid img-thumbnail" style="height:207.5px;width:255.5px;" />
                    </a>
                </div>
                <div class="col-lg-9 col-sm-12 inner-content">
                    <h5><a href="@Url.Action("Index", "Reviews", new { id = item.RestaurantId})">@Html.DisplayFor(modelItem => item.Name)</a></h5>
                    <br />
                    <h6>
                        <p>
                            City : @item.City, @item.Country
                        </p>
                        <p>
                            Address : @item.Address
                        </p>
                        <p>
                            Reviews : @item.CountOfReviews
                        </p>
                        @if (item.AverageRating == null)
                        {
                            <p>
                                Average Rating : 0
                            </p>
                        }
                        else
                        {
                            <p>
                                Average Rating : @item.AverageRating.Value.ToString("0.00")
                            </p>
                        }
                        
                    </h6>
                </div>
            </div>
            <br />
        }

    </div>
</div>
<!-- Blog_single Section End -->



